<div ng-controller="HelpController">		
	<div class="header-layout clearfix"  style="border: #d8d8d8 1px solid; background: white; box-shadow: 0px 2px 5px #d8d8d8;">  
		Help
	</div>
	<div class="clearfix panel-service">
		<div class="card-layout-service clearfix box-shadow" style="margin-bottom: 0;">
			<table class="table service-table" style="margin-bottom: 0;">
				<tbody>	
					<tr  class="pdu-metering-output-table-row">
						<td class="col-xs-2 pdu-metering-report-table-content">
							Email
						</td>
						<td class="pdu-metering-report-table-content">
							service@abb.com
						</td>
					</tr>
					<tr  class="pdu-metering-output-table-row">
						<td class="pdu-metering-report-table-content">
							Phone
						</td>
						<td class="pdu-metering-report-table-content">
							804.647.4782<br>
							800.292.3739<br>
							1-1800-CYBEREX
						</td>	
					</tr>
					<tr  class="pdu-metering-output-table-row">
						<td class="pdu-metering-report-table-content">
							Web
						</td>
						<td class="pdu-metering-report-table-content">
							<a href="http://www.abb.com/ups">www.abb.com/ups</a><br>
							<a href="http://www.tnbpowersolutions.com/cyberex">www.tnbpowersolutions.com/cyberex</a>
						</td>			
				</tbody>				
			</table>
		</div>
	</div>
</div>